html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    background-color: lightblue;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

.file-share-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    
}
.top {
    color: darkblue;
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    border: 15px solid white;
    background-color: olive;
    align-items: center;
    justify-items: center;
    -webkit-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);

    input {
        text-shadow: 2px 8px 9px #000000;
        background-color: white;
        font-size: 3em;
        -webkit-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);

        &:hover {
            font-size: 3.1em;
        }

        &:active {
            font-size: 3em;
            -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        }
    }
}

.bottom {
    
    color: white;
    height: 80%;
    width: 95%;
    border: 15px solid white;
    background-color: rgb(161, 136, 187);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    -webkit-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);

    .btn {
        height: 30%;
        width: 50%;
        font-size: 1em;

        &:hover {
            font-size: 1.2em;
        }
    }

    button {
        text-shadow: 2px 8px 9px #000000;
        outline: transparent;
        font-size: 3em;
        font-weight: 500;
        height: 30%;
        width: 50%;
        border: 1px solid transparent;
        border-radius: 5px;
        -webkit-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
        box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);

        &:hover {
           font-size: 3.2em;
        }

        &:active {
            font-size: 3em;
            -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        }

    }
}