html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin: 0px;
    padding: 0px;
}

.file-share-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    
}
.top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid transparent;
    background-color: olive;
    align-items: center;
    justify-items: center;

    input {
        font-size: 2em;
    }
}

.bottom {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    background-color: rgb(161, 136, 187);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    .btn {
        font-size: 1em;
    }

    button {
        outline: transparent;
        font-size: 3em;
        font-weight: 500;
        height: 30%;
        width: 50%;
        border: 1px solid transparent;
        border-radius: 5px;
        -webkit-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);
box-shadow: 46px 33px 58px 0px rgba(0,0,0,0.75);

        &:hover {
            outline: none;
            -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        }

    }
}